<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/logs/nlog-internal.log">

  <targets async="true">
    <target name="logfile" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}"
            fileName="${basedir}/logs/Log.current.log"
            archiveFileName="${basedir}/logs/archives/Log.{#}.log"
            archiveEvery="Day"
            archiveNumbering = "Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="9" />

    <target name="eventlog" xsi:type="EventLog"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}" />

    <target name="consoleout" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleout" />
    <logger name="WebApiTemplate.*" minlevel="Debug" writeTo="logfile" />
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Warn" writeTo="eventlog" />
  </rules>
</nlog>
